<%- include('../partials/head') %>
</head>

<body class="bg-gray-100 min-h-screen">

  <!-- NAVBAR -->
  <%- include('../partials/nav') %>

<h2>This is your Favourite Page</h2>

  




</body>


</html>
